################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CRUD-Responsive-App-API/WebApplication1/bin/Debug/netcoreapp3.1/runtimes
/CRUD-Responsive-App-API/WebApplication1/bin/Debug/netcoreapp3.1
