<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
  <app-header></app-header>
  <br />
  <button
    mat-raised-button
    color="primary"
    style="float: right; width: 10%; direction: rtl"
    (click)="onBtnClick('Add', null)"
  >
    Add
  </button>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="users">
      <!-- First Name Column -->
      <!-- <ng-container matColumnDef="Document">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <img
            [src]="'data:image/jpg;base64,' + profileImageDoc.documentData"
            width="100px"
          />
        </td>
      </ng-container> -->

      <!-- First Name Column -->
      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef>First Name.</th>
        <td mat-cell *matCellDef="let element">
          <img
            [src]="'data:image/jpg;base64,' + element.document.documentData"
            width="100px"
          />
          {{ element.firstName }}
        </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="DateOfBirth">
        <th mat-header-cell *matHeaderCellDef>Date Of Birth</th>
        <td mat-cell *matCellDef="let element">{{ element.dateOfBirth }}</td>
      </ng-container>

      <!--Action Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <span *ngFor="let ele of element.Action">
            <button
              mat-raised-button
              color="primary"
              (click)="onBtnClick(ele, element)"
            >
              {{ ele }}
            </button>
            &nbsp;
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- <mat-paginator
      #paginator
      [length]="users?.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator> -->
  </div>
</div>
